@media only screen and (max-width: 995px) {
    header h1{
        font-size: 43px;
    }
    body{
    background-attachment: fixed;
    background-repeat:round;
    background-size:100%;
    height: 100%;
}
#audplayer{
    background-attachment: fixed;
    background-size: 100%;
    background-repeat:round;
    height: 100%;
}

}

header h1 {
    margin: 0px auto;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    color: #3b5998;
    font-family: 'Playfair Display SC', serif;
}
body{
    background-color: white;
    background-size: 100%;
    background-attachment: fixed;
}

#audplayer{
background-color: white;
    background-attachment: fixed;
    background-size: 100%;
    
}

.aud_design{
    background:linear-gradient(#eff1f4,#f7f8f9);
    margin: 0px auto;
    margin-top: -8.5px;
    margin-left: -7.6px;
        width: 100%;
    height: 70px;
    position: fixed;
    z-index: 2;
    
}
.move1{
        margin: 0px auto;
width: 100%;
    margin-left: -7.6px;
    position: absolute;
    margin-top: 68px;
    z-index: 1;
    background-color:#edeff2;;
    font-family: 'Open Sans', sans-serif;
}

li{
           text-align: left;
            list-style-type: decimal;
    color: #3b5998;
    
        }
        #playlist{
            list-style: none;
        }
        #playlist li a{
            font-size: 19px;
            color:#3b5998;
            text-decoration: none;
        }
        #playlist .current-song a{
            color:dimgray;
        }

#playlist li{
    font-weight: bold;
}


#audioPlayer{
    border-style: solid;
    border-color: dimgray;
}
        #mov_lab{
            margin: 0px auto;
            width: 50%;
            margin-top: 2%;
            padding: 10px;
            border-radius: 4px;
            background-color: ;
            
        }
        
        #mlab {
            margin: 0px auto;
            width: 50%;
            margin-right: 95px;
            font-family: 'Open Sans', sans-serif;
            color: #3b5998;
            font-size: 18px;
        }

#mlab dl{
    
}


#mlab dd{
    width: 70%;
    position: relative;
    left:30px;
    bottom:23px;
}
#mlab h3{
    width: 70%;
    padding-left: 90px;
}
        #content{
            margin: 0px auto;
            width: 70%;
            text-align: center;
        }
        
.pl_list{
    text-align: left;
    color: #3b5998;
    width: 112%;
}
#line{
    line-height: 70%;
    
}

hr{
    width: 90%;
    margin-left: 0px;
}

.aud_design.shrink
{
        height: 50px;
margin-top: -15px;
        text-align: center;
    padding-top: 8px;
        background:#3b5998;
}
.aud_design.shrink h1
{
    font-size: 30px;
    margin-top: 3.5px;
    color: white;

}


