@media screen and (max-width:320px)
{
    header h1 {
    text-align: center;
    color: black;
      font-family: 'Playfair Display SC', serif;

    }
body{
    background-color: #c7c9cc;
    
}

.container {
    margin: 0px auto;
    width: 94.5%;
    margin-top: -8.5px;
    height: 100px;
    margin-left: 0px;
    position: fixed;
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index: 2;
        background-color: #eff1f2;  
    font-size: 10;
}
.move{
    margin: 0px auto;
width: 94.5%;
    position: absolute;
    margin-top: 92px;
    margin-left: 0px;
    z-index: 1;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to top,#eff1f2,#cdd2d8);
}

.container1
{
    margin: 0px auto;
        width: 60%;
    height: 100%;
    border-left-style: ridge;
    border-right-style: ridge;
    
        

}

.top_list {
margin: 10px auto;
        width: 100%;
    margin-left: 1px;
    margin-top: 15px;
    align-content: center;
    
}

.top_list a{

}

.hits
{
    text-align: center;
   margin: 0px auto;
        width: 69.4%; 

}

.hits h2 {
    
    display:inline-block;
    margin-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: dimgray;
    background-color: #b1b2b5;
    border-style:solid;
    border-radius: 5px;
    font-size: 10;
}

.song_list
{
    width: 95px;
    height: 110px;
    background-color:#b1b2b5;
    margin: 12px;
    margin-top: 2px;
    padding: 6px;
    border-radius: 5px;
    float:left;
 
}

.song_list h3
{
    margin-top: 0px;
}

.img1
{
width:100%;
    height: auto;
    border-radius: 5px;
    
}
  
.song_list h2{
    margin-top: 5px;
    font-size: 8;
}

.song_list h3 b{
    margin-bottom: 0px;
}


.songs_a {
    margin: 8px auto;
        width: 71%;
    text-align: center;
    
}

.song_cover {
    
    width:28%;
    height: 35%;
    border-style:inset;
    border-color:darkgray;
    border-width: thick;
    

}

.songs_d {
    margin: auto;
    margin-right: 32%;
    width:26%;
    color:dimgray;
       
}

.songs_l {
margin: 8px auto;
width: 71%;    
}
.songs_l table{
    margin-left: 15%;
    
}

#play1 h2{
border-style: solid;
    border-color: dimgray;
    border-radius: 2px;
}
#play1{
margin: 0px auto;
width: 30%;
    text-align: center;
    margin-right: 34.5%;
    display: block;
    color: #545556;
    margin-top: 80px;
    
}
#artist {
    text-decoration: none;
    text-align: center;
    
    
}
#artist h3{
    border-style: solid;
    width: 50%;
    margin-left: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: dimgrey;
    border-radius: 7px;
    color: aliceblue;
}

#play{
margin: 0px auto;
width: 10%;
    text-align: center;
    margin-right: 45%;
    display: block;
    color: #545556;
    
}
#play h3{
border-style: solid;
    border-color: dimgray;
    border-radius: 2px;
}
#play a{
    text-decoration: none;
    color: #545556;
}

table .box h3{
    background-color:gray;
    color:whitesmoke;
    margin-left: 50px;
    margin-right: 80px;
    padding-left: 50px;
    padding-right: 50px;
    border-style: solid;
    border-color:darkgray;
    border-radius: 7px;
    text-align: center;
}

.current{
    color:chocolate;
    font-family: 'Lora', serif;;
        
}

    .current1{
     margin-left: 6px   
    }    
table .box1 h3{
    background-color:gray;
    color:burlywood;
    margin-left: -40px;
    border-style:solid;
    border-color:darkgray;
padding-left: 10px;
    padding-right: 10px;

}

.singers h4{
    margin-left: 50px;    

}
table{
    margin-right: 10%;
}

table .box1 a{
    text-decoration: none;
}

    #menu{
        align-self: center;
    }
#menu li a
{
    display: block;
    text-decoration: none;
    font-family: 'Lora', serif;
    color: black;
    
    
}

#menu li a:hover
{
    color:white;
           background-color: #6d7691;
    transition:all 0.35s;
     

}

.bg {
 color:darkslategray;
    width: 70px;
}

.bg1{
    position: relative;
    right: 320px;
    width:40px;
}
.bg2{
    position: relative;
    right: 73px;
    bottom: 37.6px;
    width:40px;
}
 .bg3{
    position: relative;
    right: 7px;
     bottom: 75px;
    width:40px;
}
.bg4{
    position: relative;
    right: -50px;
    bottom: 112px;
    width:60px;
}

    
li
{
    list-style: none;
    float: left;
    margin-left: 100px;
    margin-right: 40px;
    
}
nav{
    height: 65px;
    margin-bottom: 10px;
}
nav ul{
    
}
}
