@media only screen and (max-width: 995px) {
    header a{
    text-decoration: none;
    display: block;
    width: 25%;
    position: relative;
    left: 5;
    top: 0;
}
 
    

    
    header a h1 {
    text-align: center;
    color: #3b5998;
      font-family: 'Playfair Display SC', serif;
width: 100%;
    position: relative;
    top: -2;
    font-size: 43;
    display: block;
    }

    nav #menu li {
    display:inline-block;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    margin-top: -60;
    position: relative;
    top: -63;
    font-size: 25;
    list-style: none;
    margin-left: 60px;
}

    #menu{
    width: 100%;
    margin-left: 305px;
}

.top_list {
margin: 0px auto;
        width: 100%;
    margin-left: 6px;
    margin-top: 40px;
}
 
    .hits h2 {
    margin: 0px auto;
    display:inline-block;
    margin-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    background-color:#3b5998;
    font-family: 'Lato', sans-serif;
    font-size: 29;
    
    
}

    .song_list
{
    width: 280px;
    height: 315px;
    background-color:#3b5998;
    margin: 14px;
    margin-top: 2px;
    padding: 6px;
    float:left;
    border-radius: 4px;
 
}

.song_list h2
{
    margin-top: 3px;
    font-size: 24;
}
.top_list .song_list .big{
    width: 105%;
    margin-left: -6px;
}
nav.shrink
{
    background-color: #3b5998;
    height: 80px;
    padding-top:0px;
}
nav.shrink header a h1{
    font-size: 38px;
    top: -17px;
    color: white;
}
nav.shrink #menu li a{
    color: white;
    font-size: 22;
    top:-13px;
    left:35;
}
    .songs_d {
    margin:0px auto;
    width:43%;
    color:#3b5998;
        font-size: 22;
    padding:10px 10px 10px 15px;
    background-color: white;
    border-radius: 4px;
}
.songs_d dl dd{
    position: relative;
    top: -28px;
    width: 69%;
left: 80px;
}
#play{
margin: 0px auto;
width: 20%;
    text-align: center;
    
    display: block;
    color: #545556;
    
}
#play {
background-color: #3b5998;
    padding-top: 3px;
    padding-bottom: 3px;
    
}
#play a{
    text-decoration: none;
    color: white;
    font-family: 'Playfair Display SC', serif;
    font-size: 26;
}
table .box b{
    background-color:white;
    color:#3b5998;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 4px;
    font-size: 24;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    
}
table .box1 a{
    background-color:#3b5998;
    color:white;
    padding: 5px;
    margin-left: 50px;
    font-size: 24;
    text-align: center;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
}



.singers h4{
    margin-top: 4px;
    margin-left: 5px;    
    color: #3b5998;
    text-align: center;
    font-size: 22;
}
 table{
    margin: 0px auto;
    padding-top: 10px;
     padding-right: 10px;
     border-radius: 4px;
    
}
.songs_l table{
    margin:0px auto;
    width: 70%;
}
#mov_lab{
            margin: 0px auto;
            width: 70%;
            margin-top: 2%;
            padding: 10px;
            border-radius: 4px;
                        
        }
    #playlist li a{
            font-size: 25px;
            color:#3b5998;
            font-style: bold;
            text-decoration: none;
        }
    #mlab {
            margin: 0px auto;
            width: 50%;
            margin-right: 122px;
            font-family: 'Open Sans', sans-serif;
            color: #3b5998;
            font-size: 24px;
        }
    #mlab dd{
    width: 100%;
    position: relative;
    left:50px;
    bottom:32px;
}
    .pl_list{
    text-align: left;
    color: #3b5998;
    width: 112%;
    font-size: 20px;
}

    #play1{
margin: 0px auto;
width: 30%;
    text-align: center;
    margin-right: 34.5%;
    display: block;
    color: #545556;
    margin-top: 70px;
        font-size: 24;
    
}
#artist h3{
    background-color: rgba(0,0,0,0.5);
    width: 60%;
    margin-left: 21.5%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 23;
}
header.shrink h1
{
    margin-left: 0px auto;
    width: 100%;
    height: 60px;
margin-top: -8px;
    margin-left: -7.6px;
    text-align: center;
    color: white;
    padding-top: 12px;
    font-size: 40px;
    background-color: #3b5998;
}
    
}
