@media only screen and (max-width: 995px) {
body{
    background-image: url(../Images/pexels-photo-290660.jpeg);
    background-attachment: fixed;
    background-repeat:round;
    background-size:100%;
    height: 100%;
}
}
header a{
    text-decoration: none;
    display: block;
    width: 13%;
    position: relative;
    left: 30;
    top: 10;
    
}
header a h1 {
    text-align: center;
    color: #3b5998;
      font-family: 'Playfair Display SC', serif;
width: 100%;
    position: relative;
    top: -2;
    font-size: 33;
    display: block;
    
    }

body{
    background: #edeff2;
    background-attachment: fixed;
    background-size:100%;
    height: 100%;
}

nav{
    margin: 0px auto;
    width: 100%;
    margin-top: -8.5px;
    height: 100px;
    margin-left: -7.6px;
    position: fixed;
        z-index: 2;
    background: linear-gradient(#eff1f4,#f7f8f9);
          
}

.move{
    
background-color:#edeff2;
    margin: 0px auto;
width: 100%;
    position: absolute;
    margin-top: 78px;
    margin-left: -7.6px;
    font-family: 'Open Sans', sans-serif;
font-size:14;
    z-index: 1;
    
}

.container1
{
    margin: 0px auto;
        width: 60%;
    height: 100%;
    
    
        

}

.top_list {
margin: 0px auto;
        width: 80%;
    margin-top: 5px;
    
    
}

.top_list a{
}

.hits
{
    text-align: center;
   margin: 0px auto;
        width: 69.4%; 
height: 70px;
}

.hits h2 {
    
    display:inline-block;
    margin-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #3b5998;
    background-color:#d3dae5;
    font-family: 'Lato', sans-serif;
    font-size: 22;
    border-radius: 4px;
}

.song_list
{
    width: 210px;
    height: 245px;
    background-color:#3b5998;
    margin-left: 3.5%;
    margin-top: 2%;
    padding: 6px;
    float:left;
    border-radius:5px; 
}

.song_list h2
{
    margin-top: 4.2%;
    font-size: 17.5;
    color: white;
}
.top_list .song_list .big{
    width: 103%;
    margin-left: -3px;
}


.img1
{
width:100%;
    height: 210px;
    border-radius: 5px;
}

.song_list h3 b{
    margin-bottom: 0px;
}


.songs_a {
    margin: 8px auto;
        width: 71%;
    text-align: center;
    
}

.song_cover {
    
    width:28%;
    height: 35%;
    border-style:inset;
    border-color:darkgray;
    border-width: thick;
    

}

.songs_d {
    margin:0px auto;
    margin-top: 10px;
    width:23%;
    color:#3b5998;
    padding:10px 10px 10px 15px;
    background-color: white;
    border-radius: 4px;
}
.songs_d dl dd{
    position: relative;
    top: -22px;
    width: 69%;
left: 50px;
}

.songs_d dl dt{
    
}

.songs_l {
margin: 0px auto;
width: 100%;
font-family: 'Lato', sans-serif;
}
.songs_l table{
    margin:0px auto;
    width: 50%;
}

#play1 h2{
    background-color: #3b5998;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-family: 'Playfair Display SC', serif;
}
#play1{
margin: 0px auto;
width: 30%;
    text-align: center;
    margin-right: 34.5%;
    display: block;
        margin-top: 80px;
    
}
#artist {
    text-decoration: none;
    text-align: center;
}
#artist h3{
    background-color: #3b5998;
    width: 50%;
    margin-left: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#play{
margin: 0px auto;
width: 10%;
    text-align: center;
    margin-right: 45%;
    display: block;
    color: #545556;
    
}
#play {
background-color:#3b5998;
    padding-top: 3px;
    padding-bottom: 3px;
    
}
#play a{
    text-decoration: none;
    color: white;
    font-family: 'Playfair Display SC', serif;
    font-size: 20;
}

table .box{
    text-align: center;
}

#spac td{
    padding-bottom: 15px;
}

table .box b{
    background-color:white;
    color:#3b5998;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 4px;
    font-size: 18;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    
}
   

#menu{
    width: 100%;
    margin-left: 48.5%;
}

table .box1{
}

table .box1 a{
    background-color:#3b5998;
    color:white;
    padding: 5px;
    margin-left: 50px;
    font-size: 18;
    text-align: center;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
}



.singers h4{
    margin-top: 4px;
    margin-left: 5px;    
    color: #3b5998;
    text-align: center;
}
 table{
    margin: 0px auto;
    padding-top: 10px;
     border-radius: 4px;
     
    background-color:;
}

table .box1 a{
    text-decoration: none;
}


nav #menu li 
{
    display:inline-block;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    margin-top: -60;
    position: relative;
    top: -37;
    font-size: 18;
    list-style: none;
    margin-left: 6%;
    
}

#menu li:hover
{
           }

#menu li a .hov:hover{
    color: white !important;
}


#menu li a:hover{
    color:white;
    background-color: #3b5998;
    transition:all 0.35s;

}


.bg {
 color: #3b5998;
text-decoration: none;
    position: relative;
padding: 4px;
    border-radius: 3px;
}

.bgg{
    position: relative;
    left: 10px;
    bottom: 59px;
    margin-left: 634px;
}

.bgg1{
    position: relative;
    left: 10px;
    top: 1px;
    margin-left: 634px;
}

.bgg2{
    
    margin-top: -41px;
}

li
{
    
}
nav.shrink
{
    background: #3b5998;
    height: 70px;
    padding-top:0px;
}
nav.shrink header a h1{
    font-size: 30px;
    top: -7px;
    color: white;
}
nav.shrink #menu li a{
    color: white;
    font-size: 17;
    top:-7px;
}
nav.shrink #menu li a:hover{
    color:#3b5998;
    background-color: white;
    transition:all 0.35s;

}
