header a{
    text-decoration: none;
    display: block;
    width: 13%;
    
}
header a h1 {
    text-align: center;
    color: black;
      font-family: 'Playfair Display SC', serif;
width: 100%;
        font-size: 33;
    display: block;
    }
body{
    background-color: cadetblue;
}
nav{
    margin: 0px auto;
    width: 100%;
    height: 100px;
    position: fixed;
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index: 2;
    background-color: aquamarine;
}
nav #menu li
{
    display: inline-block;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: black;
    position: relative;
    font-size: 13;
    list-style:none;
    float:left;
}

#menu li a:hover
{
    color:white;
           background-color: #6d7691;
    transition:all 0.35s;
     

}

nav
